* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    /* border: 1px solid black; ponerle borde a las imagenes*/
}

.game-board {
    /*background-image: url(../img/clouds.png);*/
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(71, 228, 9);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /*background: linear-gradient(#87ceeb, rgb(243, 239, 239));*/
    animation: bacground-change 30s infinite linear;
}

.score-board {
    position: relative;
    left: 500px;
    text-align: center;
    width: 250px;
    height: fit-content;
    background-color: aqua;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    /*left: 200px;  /* tope de colision;*/
    animation: pipe-animation 2s infinite linear;

}


.clouds {
    position: absolute;
    width: 500px;
    animation: cloud-animation 10s infinite linear;
}

.ken {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 100px;

}

.jump {
    animation: jump 1s ease-out;
}


/* animacion*/
@keyframes pipe-animation {
    from {
        right: -80px;

    }

    to {
        right: 100%;

    }


}



/*animacion ken salto*/
@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 160px;
    }

    50% {
        bottom: 160px;
    }

    60% {
        bottom: 160px;
    }


    100% {
        bottom: 0;
    }

}

/*animacion del fomdo del ablero*/
@keyframes cloud-animation {
    from {
        right: -80px;

    }

    to {
        right: 100%
    }
}

/*animacion para dia y noche de fondo*/
@keyframes bacground-change {
    from {
        background: linear-gradient(#87ceeb, rgb(243, 239, 239));
    }

    to {
        background: linear-gradient(#02161f, rgb(165, 157, 157));
    }

}